<form class="page__form" action="#" method="GET">
  <div class="wrapper">
    <!--first form-->
  <div class="page__form__icon">
    <div class="flex">
      <i class="far fa-object-ungroup"></i>
      <h2>Diseña</h2>
    </div>
    <button><i class="fas fa-angle-down"></i></button>
  </div>
  <fieldset class="page__form__design">
    <div class="try">
    <legend>
      Colores
    </legend>
  </div>
    <div class="flex2">
      <label for="drawing"></label>
      <input type="radio" id="drawing" name="test" />
      <img />
      <label for="drawing2"></label>
      <input type="radio" id="drawing2" name="test" />
      <img />
      <label for="drawing3"></label>
      <input type="radio" id="drawing3" name="test" />
      <img />
    </div>
  </fieldset>
  <!--second form-->
  <div class="page__form__icon">
    <div class="flex">
      <i class="far fa-keyboard"></i>
      <h2>Rellena</h2>
    </div>
    <button><i class="fas fa-angle-down"></i></button>
  </div>
  <fieldset class="page__form__fill">
    <label for="firstName"> Nombre completo </label>
      <input id="firstName" type="text" placeholder="Ej: Sally Jill" />
   
    <label for="work"> Puesto</label>
      <input id="work" type="text" placeholder="Ej: Front-end unicorn" />
    
    <p>Imagen de perfil</p>
    <button>Añadir imagen</button>
    <label for="email"> Email</label>
      <input id="email" type="email" placeholder="Ej: sally-hill@gmail.com" />
    
    <label for="telephone"> Teléfono</label>
      <input id="telephone" type="tel" placeholder="Ej: 555-55-55-55" />
    
    <label for="linkedin"> Linkedin</label>
      <input id="linkedin" type="linkedin" placeholder="Ej: linkedin.com/in/sally.hill" />
    
    <label for="github"> Github</label>
      <input id="github" type="github" placeholder="Ej: @sally-hill" />
    
  </fieldset>
  <!--third form-->
  <div class="page__form__icon">
    <div class="flex">
      <i class="fas fa-share-alt"></i> 
      <h2>Comparte</h2>
    </div>
    <button><i class="fas fa-angle-down"></i></button>
  </div>
  <fieldset class="page__form__share">
    <input type="submit" value="crear tarjeta">  
  </fieldset>
  <div>
      <h4>La tarjeta ha sido creada</h4>
      <p>Esto es el link de la tarjeta</p>
      <button>compartir en twitter</button>
  </div>  
</div>  
</form>
