<form class="form" action="#" method="GET">
  <div>
    <i class="far fa-object-ungroup"></i>
    <h2>Diseña</h2>
    <button><i class="fas fa-angle-down"></i></button>
  </div>
  <fieldset class="form__design">
    <legend>
      Colores
    </legend>
    <label for="drawing"></label>
    <input type="radio" id="drawing" name="test" />
    <img />
    <label for="drawing2"></label>
    <input type="radio" id="drawing2" name="test" />
    <img />
    <label for="drawing3"></label>
    <input type="radio" id="drawing3" name="test" />
    <img />
  </fieldset>
  <div>
    <i class="far fa-keyboard"></i>
    <h2>Rellena</h2>
    <button><i class="fas fa-angle-down"></i></button>
  </div>
  <fieldset class="form__fill">
    <label for="">
      <input type="text" placeholder="Ej: Sally Jill" />
    </label>
    <label for="">
      <input type="text" placeholder="Ej: Front-end unicorn" />
    </label>
    <button>Añadir imagen</button>
    <label for="">
      <input type="email" placeholder="Ej: sally-hill@gmail.com" />
    </label>
    <label for="">
      <input type="tel" placeholder="Ej: 555-55-55-55" />
    </label>
    <label for="">
      <input type="linkedin" placeholder="Ej: linkedin.com/in/sally.hill" />
    </label>
    <label for="">
      <input type="github" placeholder="Ej: @sally-hill" />
    </label>
  </fieldset>
  <div>
    <i class="fas fa-share-alt"></i>
    <h2>Comparte</h2>
    <button><img src="" alt="" /></button>
  </div>
  <fieldset class="form__share"></fieldset>
</form>
