/* COLORS */

$colorDark: #000;
$colorLight: #fff;
$colorMedium: #6b6b6b;
$colorPrimaryDark: #114e4e;
$colorPrimaryMedium: #438792;
$colorPrimaryLight: #a2deaf;
$colorSecondaryDark: #e17334;
$colorSecondaryLight: #f9f4dc;
$colorFontCard: #54585a; /*para revisar*/
$colorBackgroundDark: #bfcdd0; /*para revisar*/
$colorBackgroundLight: #dde9ed; /*para revisar*/

/* FONTS */
$fontFamily: "Open Sans", sans-serif;
$secondaryFontFamily: "Merriweather", sans-serif;
$fontFamilyTertiary: "Montserrat", sans-serif;

/* BREAKPOINTS */

$tablet: 768px;
$desktop: 1024px;
