/* COLORS */

$colorDark: #000;
$colorLight: #fff;
$colorPrimaryDark: #114e4e;
$colorPrimaryMedium: #438792;
$colorPrimaryLight: #a2deaf;
$colorSecondaryDark: #e17334;
$colorSecondaryLight: #f9f4dc;

/* FONTS */
$fontFamily: "Open Sans", sans-serif;
$secondaryFontFamily: "Merriweather", sans-serif;
$fontFamilyTertiary: "Montserrat", sans-serif;

/* BREAKPOINTS */

$tablet: 768px;
$desktop: 1024px;
