/* COLORS */
$colorDark: #000;
$colorLight: #fff;
$colorMedium: #6b6b6b;
$colorPrimaryDark: #114e4e;
$colorPrimaryMedium: #438792;
$colorPrimaryLight: #a2deaf;
$colorSecondaryDark: #e17334;
$colorSecondaryLight: #f9f4dc;
$colorFontCard: #54585a; /*para revisar*/
$colorBackgroundDark: #bfcdd0; /*para revisar*/
$colorBackgroundLight: #dde9ed; /*para revisar*/
$colorBackgroundIndex: #f5f5f5;

$colorLines: #d8d8d8;
$colorTwitter: #00a0f5;
/* FONTS */
// $fontFamily: "Open Sans", sans-serif;
$fontFamily: 'Comic Neue', cursive;
// $fontFamilyBold: 'Open Sans', sans-serif, bold;
$fontFamilyBold: 'Comic Neue', cursive, bold;
$secondaryFontFamily: 'Merriweather', sans-serif;
// $fontFamilyTertiary: 'Montserrat', sans-serif;
$fontFamilyTertiary: $fontFamily;
$defaultFontSize: 16px;
/* BREAKPOINTS */
$tablet: 768px;
$desktop: 1024px;
