.page {
  &__box {
    background: rgb(158, 191, 255);
    background: radial-gradient(
      circle,
      rgba(158, 191, 255, 1) 0%,
      rgba(35, 102, 235, 1) 100%
    );
    // background-color: $colorBackgroundIndex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    &__logo {
      padding-bottom: 35.4px;
      width: 250px;
    }
    &__title {
      color: $colorSecondaryDark;
      font-family: $secondaryFontFamily;
      font-size: 1.188rem;
    }
    &__paragraph {
      width: 264.8px;
      text-align: center;
      color: $colorPrimaryDark;
      font-family: $fontFamily;
      font-size: 0.75rem;
      padding-bottom: 27px;
    }
    &__iconBox {
      width: 268px;
      height: 73.8px;
      border: solid 1.6px rgba($colorSecondaryDark, 0.21);
      border-radius: 4px;
      display: flex;
      justify-content: space-evenly;
      &__elem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $colorFontCard;
        font-family: $fontFamily;
        font-size: 1rem;
        width: calc(100% / 3);
        & i {
          font-size: 1.625rem;
          color: $colorSecondaryDark;
        }
      }
    }
    &__button {
      margin-top: 38.6px;
      margin-bottom: 30px;
      width: 129px;
      height: 42px;
      border-radius: 21px;
      background-color: $colorPrimaryMedium;
      color: $colorLight;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      font-family: $fontFamily;
      font-size: 1rem;
      font-weight: 600;

      line-height: 5rem;
    }
  }
}

@include tablet {
  .page {
    &__box {
      &__logo {
        padding-bottom: 31px;
        width: 419px;
      }
      &__title {
        font-size: 1.5rem;
      }
      &__paragraph {
        font-size: 1rem;
        width: 331px;
      }
      &__iconBox {
        width: 325px;
        height: 86px;
        border: solid 2px rgba($colorSecondaryDark, 0.21);
        border-radius: 5px;
        &__elem {
          & i {
            font-size: 1.813rem;
          }
        }
      }
      &__button {
        margin-top: 186px;
        margin-bottom: 59px;
      }
    }
  }
}
