.page__container {
  background-image: linear-gradient(
    to bottom,
    $colorBackgroundIndex,
    $colorLight
  );
}
@include tablet {
  .page__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}
