.page__footer {
  width: 100%;
  height: 110px;
  border-top: solid 2px #f5f5f5;

  @include tablet {
    height: 60px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 6px 0px;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      padding: 18px 40px;
    }

    &__paragraph {
      font-family: $fontFamily;
      font-size: 14px;
      opacity: 0.5;
      color: $colorMedium;
    }
  }

  & a {
    width: 103px;
    height: 40px;
    padding: 12px 0px;

    @include tablet {
      padding: 0px;
    }

    & img {
      width: 100%;
    }
  }
}
