.page {
  &__header {
    height: 110px;
    display: flex;
    flex: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid $colorLight;
    &__logo {
      padding: 0 40px;
      img {
        height: 50px;
        width: 201px;
      }
    }
  }
}
